<div class= "row">
  <div class= "col-xs-10">
    <div class= "jumbotron center">
      <h1>ZBLOG</h1>
      
      <h2>Where all blogs come to die.</h2>
      
      <%= link_to 'My Blog', "#", class: "btn btn-lg btn-success" %>
    </div>
    
    <div class= "row-fluid">
      <div class= "col-xs-4 btn btn-warning blogbtn">
        <h3 class= "midrow">
          Blog 1
        </h3>
      </div>
    </div>
    <div class= "row-fluid">
      <div class= "col-xs-4 btn btn-warning blogbtn">
        <h3 class= "midrow">
          Blog 2
        </h3>
      </div>
    </div>
    <div>
      <div class= "col-xs-4 btn btn-warning blogbtn">
        <h3 class= "midrow">
          Blog 3
        </h3>
      </div>
    </div>
  </div>
</div>